/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@font-face {
    font-family: 'GoodDogRegular';
    src: asset_url('GoodDog-webfont.eot', font);
    src: asset_url('GoodDog-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset_url('GoodDog-webfont.woff', font) format('woff'),
         asset_url('GoodDog-webfont.ttf', font) format('truetype'),
         asset_url('GoodDog-webfont.svg#GoodDogRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*h1, h2 {font-family: 'GoodDogRegular';}*/
.ui-header h1.ui-title { color: rgba(247,148,0,1); font-size: 30px; text-decoration: none; text-shadow: 0 0 3px #fff; font-weight: bold;
  letter-spacing: -2px;
  -webkit-animation-name: pulse;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: infinite;}
#map_container { padding: 10px; background: #F4F4F4; border-radius: 20px;}
#map {width: 100%;}

#address_search { display: none;}
.ui-header .ui-title, .ui-footer .ui-title {margin: .2em 90px .2em;}
.ui-body-c {background: rgba(247,148,0,.5) asset_url("body-bg.png", image) top center;}
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon {padding-left: 50px;min-height: 40px;}
.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#location .ui-icon { background:  asset_url("icons/74-location.png", image) 50% 50% no-repeat; background-size: 24px 22px; }
#email .ui-icon { background:  asset_url("icons/18-envelope.png", image) 50% 50% no-repeat; background-size: 24px 16px;  }
#login .ui-icon { background:  asset_url("icons/30-key.png", image) 50% 50% no-repeat;  background-size: 12px 26px; }
#beer .ui-icon { background:  asset_url("icons/88-beer-mug.png", image) 50% 50% no-repeat;  background-size: 22px 27px; }
#venues .ui-icon { background:  asset_url("icons/07-map-marker.png", image) 50% 50% no-repeat;  background-size: 17px 24px; }
#add .ui-icon { background:  asset_url("icons/152-rolodex.png", image) 50% 50% no-repeat;  background-size: 22px 24px; }
