<!DOCTYPE html>
<html>
<head>
  <title>Getbeer</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script>
    $(document).bind("mobileinit", function(){
      $.mobile.touchOverflowEnabled = true;
    });
  </script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main" data-role="page" data-theme="c" class="type-home" data-add-back-btn="true">

    <div data-role="header" data-theme="c" data-position="fixed">
    <h1>GetBeer</h1>
    </div>

  <div data-role="content">
      <%= yield %>
  </div>

    <div data-role="footer" class="nav-glyphish-example" data-theme="c" data-position="fixed">
      <div data-role="navbar" class="nav-glyphish-example" data-grid="d">
      <ul>
        <li><a href="/" id="location" data-icon="custom">Map</a></li>
        <li><a href="/beers/search" id="beer" data-icon="custom">Beers</a></li>
        <li><a href="#" id="venues" data-icon="custom">Venues</a></li>
        <li><a href="#" id="add" data-icon="custom">Add a beer</a></li>
      </ul>
      </div>
    </div>
</div>

</body>
</html>
