<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!-- Appcache Facts http://appcachefacts.info/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="default.appcache?v=1"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Getbeer</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script>
    $(document).bind("mobileinit", function(){
      $.mobile.touchOverflowEnabled = true;
    });
  </script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <meta name="description" content="Getbeer, to get cheap beers around you">
  <meta name="author" content="A.rnaud">

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">

  <!--iOS web app, deletable if not needed -->
  <!--<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="img/l/splash.png">-->

  <meta http-equiv="cleartype" content="on">
</head>
<body>
<div id="main" data-role="page" data-theme="c" class="type-home" data-add-back-btn="true">

    <div data-role="header" data-theme="c" data-position="fixed">
    <h1>GetBeer</h1>
    </div>

  <div data-role="content">
      <%= yield %>
  </div>

    <div data-role="footer" class="nav-glyphish-example" data-theme="c" data-position="fixed">
      <div data-role="navbar" class="nav-glyphish-example" data-grid="d">
      <ul>
        <li><a href="/" id="location" data-icon="custom">Map</a></li>
        <li><a href="/beers/search" id="beer" data-icon="custom">Beers</a></li>
        <li><a href="#" id="venues" data-icon="custom">Venues</a></li>
        <li><a href="#" id="add" data-icon="custom">Add a beer</a></li>
      </ul>
      </div>
    </div>
</div>

</body>
</html>
